@using CoreComponents;

@{
                    // string DisbusementDate = @ViewBag.DisbusementDate.ToShortDateString();
      
}
<div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="Table1" style="">
            <thead>
                <tr>
                    <th class="text-center" style="width: 10%">Inst. No.</th>
                    <th style="width: 10%">Due Date</th>
                    <th style="width: 10%">Principal</th>
                    <th style="width: 10%">Prin. Demand</th>
                    <th style="width: 10%">Interest Demand</th>
                    <th style="width: 10%">Total. Demand</th>
                    <th style="width: 10%">Prin. Balance</th>
                    <th style="width: 10%">Days</th>
                    <th style="width: 10%">Int.Rate</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="table-responsive" style="overflow-y: scroll; max-height: 400px">
        <table class="table table-striped table-bordered table-hover">
            <tbody>
                @{ List<BusinessEntities.ScheduleDTO> lstobj = null;
                   if (ViewBag.lstSchedules != null)
                   {
                       lstobj = ViewBag.lstSchedules;
                   }
                       
                }
                @if (lstobj != null && lstobj.Count > 0)
                {
                    foreach (var obj in lstobj)
                    {
                    <tr class="gradeA odd">
                        <td style="width: 10%" class="text-center">@obj.PERIOD</td>
                        <td style="width: 10%" class="text-center">@obj.PAYDATE.ToDisplayDateFormat()</td>
                        <td style="width: 10%" class="text-right">@obj.Opening_Balance.ToDisplayCurrency()</td>
                        <td style="width: 10%" class="text-right">@obj.PRINCIPAL.ToDisplayCurrency()</td>
                        <td style="width: 10%" class="text-right">@obj.INTEREST.ToDisplayCurrency()</td>
                        <td style="width: 10%" class="text-right">@((obj.PRINCIPAL + obj.INTEREST).ToDisplayCurrency())</td>
                        <td style="width: 10%" class="text-right">@obj.CURRENT_BALANCE.ToDisplayCurrency()</td>
                        <td style="width: 10%" class="text-center">@obj.DAYS</td>
                        <td style="width: 10%" class="text-center">@obj.INTERESTRate</td>
                    </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    <div style="margin-right: 22px; float: left">
        <input id="btnClose" style="cursor: pointer; width: 50px; margin-right: 28px; border-color: blue;"
            type="button" value="Close" onclick="javascript: Close();" />

    </div>
    <div style="margin-right: 22px; float: inherit">
        <input id="btnSubmit" style="cursor: pointer; width: 50px; margin-right: 28px; border-color: blue;"
            type="button" value="Save" onclick="javascript: SaveSchedule();" />

    </div>
    <div style="margin-right: 22px; float: inherit">
        <label id="lblMessage" style="font-size: medium; color: red" />

    </div>

</div>
<script type="text/javascript">
   


</script>
