@model MFIS.Web.Areas.Federation.Models.BankMasterModel
@using BusinessEntities
<style type="text/css">
    .pop_up {
        background-color: #fff;
        border-radius: 15px;
        color: #000;
        display: none;
        padding: 5px 5px 20px 20px;
        min-height: 250px;
        max-height: 600px;
        min-width: 400px;
        max-width: 1200px;
        /*left: 274.5px;
        position: absolute;
        top: 120px;
        display: block;
        opacity: 1;
        width: 62%;
        z-index: 9999;*/
    }
</style>
<div>
    <div class="form-group" style="display:none">
        <label style="color: #428bca; font-size: medium">New</label>
        <input type="radio" id="rdbNew" checked name="rabSelectbankEntry" />
        <label style="color: #428bca; font-size: medium">Existing</label>
        <input type="radio" id="rdbExisting" name="rabSelectbankEntry" onclick="existedBanks();" />
    </div>
</div>

<div class="col-lg-4">
    <div class="form-group">
        <label>Bank Name</label>
        @Html.DropDownListFor(d => d.BankEntryID, (SelectList)ViewBag.bankNames, "Select Bank", new { @class = "form-control required", @id = "ddlBankName", @name = "ddlBankName" })
    </div>
    <div class="form-group">
        <label>Bank Branch</label>
        @Html.TextBoxFor(m => m.BranchName, new { @id = "txtbranchName", @name = "txtbranchName", @class = "form-control" })

    </div>

</div>
<div class="col-lg-4">
    <div class="form-group">
        <label>Bank Branch Code</label>
        @*<input class="form-control" value="B-10" />*@
        @Html.TextBoxFor(m => m.BranchName, new { @id = "txtbranchCode", @name = "txtbranchCode", @class = "form-control" })
    </div>
    <div class="form-group">
        <label>IFSC Code</label>
        @*<input class="form-control" value="ICICI00000074" />*@
        @Html.TextBoxFor(m => m.IFSC, new { @id = "txtifsc", @name = "txtifsc", @class = "form-control" })
    </div>


</div>
<div class="col-lg-4">
    <div class="form-group">
        <label>Bank A/C Number</label>
        @*<input class="form-control" value="30602004475" />*@
        @Html.TextBoxFor(m => m.AccountNumber, new { @id = "txtAccountNumber", @name = "txtAccountNumber", @class = "form-control number-only  required" })
    </div>
    <div class="form-group">
        <label>Account Type</label>
        @Html.DropDownListFor(d => d.AccountType, (SelectList)ViewBag.accountType, new { @class = "form-control required", @id = "ddlAccountType", @name = "ddlAccountType" })

    </div>

</div>

<div class="col-lg-4">
    <div class="form-group">
        <button type="button" id="btnAddBank" onclick="return createBankTable();" class="btn btn-outline btn-primary">ADD Bank Details</button>
        @Html.Hidden("hdnBIndex")
        @Html.Hidden("hdnIRId")
    </div>
</div>
<div id="existedbanks" class="pop_up" title="Existed Banks" style="z-index: 9999; left: 274.5px; width: 62%">
    <div style="float: right; margin-bottom: 10px;">
        <a style="cursor: pointer;" onclick="javascript:Close();">
            <img alt="" src="../../Content/images/close_button.png" />
        </a>
    </div>
    <div style="font-size: larger; text-align: center; color: #063A60;">
        <b>Existing Bank Details</b>
    </div>
    <div id="scroll_popup_container" style="margin-left: 20px; overflow: hidden; max-height: 425px">
        <div id="existedbankdiv">
            @{
                List<BusinessEntities.BankMasterLookupDto> objlst = new List<BusinessEntities.BankMasterLookupDto>();
                objlst = ViewBag.ExistedBanks;
                int i = 0;
            }
            <div class="table-responsive" style="overflow-y: scroll; max-height: 500px">
                <table class="table table-striped table-bordered table-hover" id="tblexistedbankdetails">
                    <thead style="background-color: #428bca; font-size: medium; color: white">
                        <tr>

                            <th class="text-center">#</th>
                            <th class="text-center">Bank Name</th>
                            <th class="text-center">Bank Branch Code</th>
                            <th class="text-center">Bank A/C No</th>
                            <th class="text-center">IFSC Code</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>

                    <tbody id="existedbankbody">
                        @foreach (var item in objlst)
                        {
                            i++;
                            <tr class="gradeA even">

                                <td class="text-center">
                                    <input type="hidden" name="hdnexistedbankEntryId_@item.BankEntryID" id="hdnexistedbankEntryId_@item.BankEntryID" value="@item.BankEntryID" />
                                    <input type="hidden" name="hdnexistedbankname_@item.BankEntryID" id="hdnexistedbankname_@item.BankEntryID" value="@item.BankName" />
                                    <input type="hidden" name="hdnexistedbranchcode_@item.BankEntryID" id="hdnexistedbranchcode_@item.BankEntryID" value="@item.BranchName" />
                                    <input type="hidden" name="hdnexistedaccountnumber_@item.BankEntryID" id="hdnexistedaccountnumber_@item.BankEntryID" value="@item.AccountNumber" />
                                    <input type="hidden" name="hdnexistedaccounttype_@item.BankEntryID " id="hdnexistedaccounttype_@item.BankEntryID" value="@item.AccountType" />
                                    <input type="hidden" name="hdnexistedifsc_@item.BankEntryID" id="hdnexistedifsc_@item.BankEntryID" value="@item.IFSC" />
                                    @i</td>

                                <td>@item.BankName</td>

                                <td>@item.BranchName</td>

                                <td>@item.AccountNumber</td>


                                <td class="text-center">@item.IFSC</td>
                                <td class="text-center">
                                    @if (item.StatusID == 1)
                                    {
                                        <img src="../../Content/images/Circle_Green.png" title="Active" />
                                    }
                                    else
                                    {
                                        <img src="../../Content/images/Circle_Red.png" title="In-Active" />
                                    }
                                </td>
                                <td class="text-center">
                                    @*  <img src="../../Content/images/view-icon.png" style="cursor: pointer; width: 16px; height: 16px;" title="Select" onclick="viewrecord();" />*@
                                    <img src="../../Content/Images/select_button.png" style="cursor: pointer; width: 45px; height: 16px;" title="Select" onclick="SelectBank(@item.BankEntryID);" />
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>

            </div>


        </div>
    </div>
    <div align="right" style="margin-right: 22px">
        @* <input id="btnSave" type="button" onclick="javascript: SaveDataSchemaFields();" value="Save"
            style="cursor: pointer; width: 50px; margin-right: 28px; margin-top: 10px; border-color: blue;" />*@
        <input id="btnClose" style="cursor: pointer; width: 50px; margin-right: 28px; border-color: blue;"
            type="button" value="Close" onclick="javascript: Close();" />

    </div>
</div>



<div class="table-responsive">

    @{
        int indx = 0;

        List<BankMasterDto> lstBankMasters = ViewBag.BankDetails as List<BankMasterDto>; 
    }
    <table class="table table-striped table-bordered table-hover" id="tblbankdetails">
        <thead>
            <tr style="background-color: #428bca; color: white">
                <th class="text-center" style="display: none">#</th>
                <th>Bank Name</th>
                <th>Bank Branch Code</th>
                <th>IFSC Code</th>
                <th>Account Number</th>
                <th>Account Type</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody id="bankbody">

            @if (lstBankMasters != null)
            {
                foreach (var item in lstBankMasters)
                {
                    indx++;
                <tr>
                    <td class="text-center" style="display: none;">@indx</td>
                    <td>
                        <input type="hidden" id ="hdnentryId_@indx" name ="hdnentryId_@indx" value="@item.BankEntryID"/>
                        <input type="hidden" id ="hdnbankname_@indx" name ="hdnbankname_@indx" value="@item.BankName"/>
                        <input type="hidden" id ="hdnbname_@indx" name ="hdnbname_@indx" value="@item.BName"/>
                        <span>@item.BName</span></td>
                    <td>
                        <input type="hidden" id ="hdnbranchcode_@indx" name ="hdnbranchcode_@indx" value="@item.BranchName"/>
                        <span>@item.BranchName</span></td>
                    <td>
                        <input type="hidden" id ="hdnifsc_@indx" name ="hdnifsc_@indx" value="@item.IFSC"/>
                        <span>@item.IFSC</span></td>
                    <td>
                        <input type="hidden" id ="hdnaccountnumber_@indx" name ="hdnaccountnumber_@indx" value="@item.AccountNumber"/>
                        <span>@item.AccountNumber </span></td>
                    <td>
                        <input type="hidden" id ="hdnaccounttypeid_@indx" name ="hdnaccounttypeid_@indx" value="@item.AccountType"/>
                        <input type="hidden" id ="hdnaccounttypeText_@indx" name ="hdnaccounttypeText_@indx" value="@item.AccountTypeText"/>
                        <span>@item.AccountTypeText</span></td>
                    <td>
                        <img src="../../Content/images/Edit.png" onclick="editRate(this, @indx);" title="Edit Rate" style="cursor: pointer"><img src="../../Content/images/delete_btn1.png" onclick="deleteRate(this, @indx);"</td>
                </tr>
                }
            }
        </tbody>
    </table>
    @Html.Hidden("hdnMaxRateIndex", indx)
</div>

<script type="text/javascript">
    var index = 1;
    var arr = new Array();
    var arrbankids = new Array();

    function createBankTable() {
        

        var bankid = $("#ddlBankName").val();
        var bankname = $("#ddlBankName option:selected").text();
        var branchname = $("#txtbranchCode").val();
        var ifsc = $("#txtifsc").val();
        var accountnumber = $("#txtAccountNumber").val();
        var accounttype = $("#ddlAccountType option:selected").text();
        var accountid = $("#ddlAccountType").val();
        var editIndx = $("#hdnBIndex").val();
        var bankentryid = 0;
        var errmsg = '';
        if ($.trim(bankid) == '')
            errmsg += 'Enter Select Bank.\r\n';
        if ($.trim(accountnumber) == '')
            errmsg += 'Enter Account Number.\r\n';
        if ($.trim(accountid) == '')
            errmsg += 'Select Account Type.\r\n';
        if (errmsg != '') {
            alert(errmsg)
            return false;
        }

        if (Number(editIndx)) {

            //update new Interest Rate
            $("#hdnbankname_" + editIndx).val(bankname);
            $("#hdnbankname_" + editIndx).parent().find('span').text(bankname);

            $("#hdnbranchcode_" + editIndx).val(branchname);
            $("#hdnbranchcode_" + editIndx).parent().find('span').text(branchname);

            $("#hdnaccountnumber_" + editIndx).val(accountnumber);
            $("#hdnaccountnumber_" + editIndx).parent().find('span').text(accountnumber);

            $("#hdnifsc_" + editIndx).val(ifsc);
            $("#hdnifsc_" + editIndx).parent().find('span').text(ifsc);

            $("#hdnaccounttypeid_" + editIndx).val(accounttype);
            $("#hdnaccounttypeid_" + editIndx).parent().find('span').text(accounttype);


        } else {
            //Add new Interest Rate
            var newIndex = Number($('#hdnMaxRateIndex').val()) + 1;
            newIndex = newIndex == 0 ? 1 : newIndex;
            
            var newRow = loadNewRow(newIndex, bankentryid, bankid, bankname, branchname, ifsc, accountnumber, accounttype, accountid);
            $("#bankbody").append(newRow);
            $('#hdnMaxRateIndex').val(newIndex);
            //$('#hdnMaxRateIndex').val(newIndex);
        }
        ClearRateControls();
    }

    function ClearRateControls() {
        $("#ddlBankName").val('');
        $("#txtbranchCode").val('');
        $("#txtifsc").val('');
        $("#txtAccountNumber").val('');
        $("#ddlAccountType").val('');
        $("#hdnBIndex").val('');
        $('#btnAddBank').text('ADD Bank Details');
    }

    function loadNewRow(newIndex, bankentryid, bankid, bankname, branchname, ifsc, accountnumber, accounttype, accountid) {
        var row = '<tr class="gradeA even">';
        row += '<td class="text-center" style="display:none;">' + newIndex + '<input type="hidden" id ="hdnentryId_' + newIndex + '" name ="hdnentryId_' + newIndex + '" value="' + bankentryid + '"/></td>';
        row += '<td><input type="hidden" id ="hdnbankname_' + newIndex + '" name ="hdnbankname_' + newIndex + '" value="' + bankid + '"/> <span>' + bankname + '</span></td>';
        row += '<td><input type="hidden" id ="hdnbranchcode_' + newIndex + '" name ="hdnbranchcode_' + newIndex + '" value="' + branchname + '"/> <span>' + branchname + '</span></td>';
        row += '<td><input type="hidden" id ="hdnifsc_' + newIndex + '" name ="hdnifsc_' + newIndex + '" value="' + ifsc + '"/> <span>' + ifsc + '</span></td>';
        row += '<td><input type="hidden" id ="hdnaccountnumber_' + newIndex + '" name ="hdnaccountnumber_' + newIndex + '" value="' + accountnumber + '"/> <span>' + accountnumber + '</span></td>';
        row += '<td><input type="hidden" id ="hdnaccounttypeid_' + newIndex + '" name ="hdnaccounttypeid_' + newIndex + '" value="' + accountid + '"/> <span>' + accounttype + '</span></td>';
        row += '<td><img src="../../Content/images/Edit.png" onclick="editRate(this, ' + newIndex + ');" title="Edit Rate" style="cursor: pointer"><img src="../../Content/images/delete_btn1.png" onclick="deleteRate(this, ' + index + ');"</td>';
        row += '</tr>';
        return row;
    }

    function editRate(src, indx) {

        $("#ddlBankName").val($("#hdnbankname_" + indx).val());
        $("#txtbranchCode").val($("#hdnbranchcode_" + indx).val());
        $("#txtifsc").val($("#hdnifsc_" + indx).val());
        $("#txtAccountNumber").val($("#hdnaccountnumber_" + indx).val());
        $("#ddlAccountType").val($("#hdnaccounttypeid_" + indx).val());
        $("#hdnBIndex").val(indx);
        $('#btnAddBank').text('Update Bank');
    }

    function deleteRate(src, indx) {
        if (confirm('Do you wish to remove select rate details?')) {
            clearBankDetails();
            $(src).parent().parent().remove();
        }
    }

    function clearBankDetails() {
        $("#ddlBankName").val('');
        $("#txtbranchCode").val('');
        $("#txtifsc").val('');
        $("#txtAccountNumber").val('');
        $("#ddlAccountType").val('');
        $("#hdnBIndex").val('');
        $('#btnAddBank').text('ADD Bank Details');
    }
    function isNumericAllowed(txt, evt) {
        var eventtype = (evt.type) ? evt.type : event.type;
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (navigator.appName != 'Microsoft Internet Explorer' && eventtype == 'keypress') {

            if (evt.ctrlKey)
                return true;
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        else if (navigator.appName != 'Netscape' && eventtype == 'keydown') {
            if (evt.ctrlKey)//control key
                return true;
            if (charCode == 37 || charCode == 38 || charCode == 39 || charCode == 40 || charCode == 46)//delete.
                return true;
            if (evt.shiftKey) {//shift key
                if (charCode == 35 || charCode == 36 || charCode == 37 || charCode == 38 || charCode == 39 || charCode == 40)
                    return true;
                else
                    return false;
            }
            if (charCode > 31 && ((charCode < 48 || charCode > 57) && (charCode < 96 || charCode > 105) && (charCode)))
                return false;
            return true;
        }
    }
    //function createBankTable() {
    //    var bankid = $("#ddlBankName").val();
    //    var bankname = $("#ddlBankName option:selected").text();
    //    var branchname = $("#txtbranchCode").val();
    //    //  var branchname = $("#ddlBranchName option:selected").text();

    //    var ifsc = $("#txtifsc").val();
    //    var accountnumber = $("#txtAccountNumber").val();
    //    var accounttype = $("#ddlAccountType option:selected").text();
    //    var accountid = $("#ddlAccountType").val();
    //    var html = "";
    //    html = html + '<tr class="gradeA even"><td class="text-center">' + index + '</td><input type="hidden" name="hdnbankname_' + index + '"  id ="hdnbankname_' + index + '" value="' + bankid + '"/><td name="bankname_' + index + '" id="bankname_' + index + '">' + bankname + '</td><input type="hidden" name="hdnbranchcode_' + index + '" id ="hdnbranchcode_' + index + ' "value="' + branchname + '"/><td name="branchcode_' + index + '" id= "branchcode_' + index + '">' + branchname + '</td><input type="hidden" name="hdnaccountnumber_' + index + '" id ="hdnaccountnumber_' + index + '"value="' + accountnumber + '"/><td name="accountnumber_' + index + '" id="accountnumber_' + index + '">' + accountnumber + '</td>';
    //    html = html + '<input type="hidden" name="hdnifsc_' + index + '"  id ="hdnifsc_' + index + '" value="' + ifsc + '"/><td name="ifsc_' + index + '" id="ifsc_' + index + '">' + ifsc + '</td><input type="hidden" name = "hdnaccounttypeid_' + index + '" id ="hdnaccounttypeid_' + index + '"value="' + accountid + '"/><td class="text-center"><img src="../../Content/images/Circle_Green.png" title="Active" /></td>';
    //    html = html + '<td class="text-center"><img src="../../Content/images/view-icon.png" style="cursor: pointer; width: 16px; height: 16px;" title="View" onclick="viewrecord();" /><img src="../../Content/images/Edit.png" style="cursor: pointer" title="Edit" onclick="editrecord(' + index + ');" /><img src="../../Content/images/Circle_Red.png" style="cursor: pointer" title="In-Active" onclick="deleterecord(this);" /></td></tr>';
    //    $("#bankbody").append(html);
    //    arr.push(index);
    //    $('#hdntablevalue').val(index);
    //    index = index + 1;
    //    $('#hdnarrlst').val(arr);
    //    $('#hdnSubmittype').val('BANK_DATAILS');
    //}
    function SelectBank(bankentryid) {
        
        var bankentryid = bankentryid;

        var bankname = $("#hdnexistedbankname_" + bankentryid).val();

        var branchname = $("#hdnexistedbranchcode_" + bankentryid).val();

        var ifsc = $("#hdnexistedifsc_" + bankentryid).val();

        var accounttype = $("#hdnexistedaccounttype_" + bankentryid).val();

        var accountnumber = $("#hdnexistedaccountnumber_" + bankentryid).val();

        var newIndex = Number($('#hdnMaxRateIndex').val()) + 1;

        newIndex = newIndex == 0 ? 1 : newIndex;

        var newRow = loadNewRow(newIndex, bankentryid, 0, bankname, branchname, ifsc, accountnumber, accounttype, 0);
        $("#bankbody").append(newRow);
        $('#hdnMaxRateIndex').val(newIndex);
        $('#rdbNew').prop('checked', 'checked');
        $('#existedbanks').bPopup().close().close();
    }
    function editrecord(id) {
        var bank = $('#hdnbankname_' + id).val();
        var branch = $('#hdnbranchcode_' + id).val();
        var AccountType = $('#hdnaccounttypeid_' + id).val();
        var ifsc = $('#hdnifsc_' + id).val();
        $('#ddlBankName').val(bank);
        $('#ddlAccountType').val(AccountType);

        $('#txtbranchName').val(branch);
        $('#txtifsc').val(ifsc);
        $('#txtAccountNumber').val(accountnumber);


    }
    function existedBanks() {
        $('#existedbanks').bPopup();
        $('#existedbanks').css("left", "274.5px");


    }
    function Close() {
        $('#rdbNew').prop('checked', 'checked');
        $('#existedbanks').bPopup().close();
    }
    function deleterecord(index) {
        confirm("Do you want to delete this record from the List..?")
        arr.pop();
        $('#dynamicrowid_' + index).remove();

    }
</script>



