@model List<BusinessEntities.GeneralLedgerDto>
@using CoreComponents;
@{
    ViewBag.Title = "GroupBankBook";
    if (ViewBag.IsGroup == null)
    {
        Layout = "~/Views/Shared/_FedarationLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_GroupLayout.cshtml";
    }
}


@using (Html.BeginForm())
{
    int Index = 0;
    int ahId = ViewBag.AHID ?? 0;
    string dtFromDate = ViewBag.FromDate != null ? ((DateTime)ViewBag.FromDate).ToDisplayDateFormat() : string.Empty;
    string dtToDate = ViewBag.ToDate != null ? ((DateTime)ViewBag.ToDate).ToDisplayDateFormat() : string.Empty;
    string bankName = ViewBag.BankName != null ? (ViewBag.BankName) : string.Empty;
    string branch = ViewBag.Branch != null ? ViewBag.Branch : string.Empty;
    string accountNumber = ViewBag.AccountNumber != null ? ViewBag.AccountNumber : string.Empty;
    string groupName = ViewBag.Group != null ? ViewBag.Group : string.Empty;
    string groupCode = ViewBag.GroupCode != null ? ViewBag.GroupCode : string.Empty;
    string cluster = ViewBag.Cluster != null ? ViewBag.Cluster : string.Empty;
    string bankBalance = ViewBag.BankBalance != null ? ViewBag.BankBalance : string.Empty;
    string openingBalance = ViewBag.OpeningBalance != null ? ViewBag.OpeningBalance : string.Empty;

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="header">Bank Book</span>
        </div>
        <div class="panel-body">
            <div class="col-lg-12 no-padding">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>From Date</label>
                        <input type="text" value="@dtFromDate" class="form-control financial-year-begin-date-picker" id="FromDate" name="FromDate"  placeholder="Select From Date" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>To Date</label>
                        <input type="text" value="@dtToDate" class="form-control financial-year-end-date-picker" id="ToDate" name="ToDate"  placeholder="Select To Date" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <br />
                        <input type="submit" id="btn-get-ledger-report" name="btn-get-ledger-report" class="btn btn-primary" value="Generate Report" />
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <hr />
                @if (!string.IsNullOrEmpty(dtFromDate))
                {
                    <div class="col-lg-12">
                        <div style="text-align: center">
                            <h4>GROUP : @groupName GROUP-CODE :@groupCode CLUSTER : @cluster</h4>
                        </div>
                        <div class="form-group col-lg-3">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div style="text-align: center">
                            <h4>BANK : @bankName BRANCH : @branch A/C Number : @accountNumber</h4>
                        </div>
                        <div class="form-group col-lg-3">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div style="text-align: center">
                            <h4>BANK BOOK : @dtFromDate to @dtToDate</h4>
                        </div>
                        <div class="form-group col-lg-3">
                        </div>
                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTablesGeneralLedger">
                        <thead>
                            <tr class="gradeA odd">
                                <th class="text-center">S.No</th>
                                <th>Vr Date</th>
                                <th>Vr Number</th>
                                <th>Particulars</th>
                                <th>Withdrawal</th>
                                <th>Deposit</th>
                                <th>Cash AtBank</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center">
                            @if (Model == null || Model.Count < 1)
                            {
                                <tr class="gradeA odd">
                                    <td colspan="7">No Record(s) Found</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Opening Balnace</td>
                                    <td>@openingBalance</td>
                                </tr>
                                foreach (var a in Model)
                                {
                                    <tr class="gradeA odd">
                                        <td>@(++Index)</td>
                                        <td>@a.Date.ToDisplayDateFormat()</td>
                                        <td>@a.VrNumber</td>
                                        <td>@a.AHName</td>
                                        <td>@a.CrAmount.ToDisplayCurrencyRPT()</td>
                                        <td>@a.DrAmount.ToDisplayCurrencyRPT()</td>
                                        <td>@a.Balance.ToDisplayCurrencyRPT()</td>
                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Cash AtBank</td>
                                    <td>@bankBalance</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <div class="panel-footer">
            <div class="form-group" style="margin-left: 16px;">
            </div>
        </div>
    </div>
    <script type="text/javascript">

        String.prototype.replaceAll = function (search, replacement) {
            var target = this;
            return target.split(search).join(replacement);
        };

    </script>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <link href="~/Scripts/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            menuLink = "menuAnaliticalReports";
            subMenuLink = "lnkSideBankBook";
            LoadMenu();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#FromDate').datepicker({
                //dateFormat: "dd/M/yy",
                //changeMonth: true,
                //changeYear: true,
                //yearRange: "-60:+50",
                onSelect: function (date) {
                    var adddate = new Date(date)
                    adddate.setDate(adddate.getDate() + 1)
                    $('#ToDate').datepicker("option", "minDate", adddate)
                }
            });
            //$('#ToDate').datepicker({
            //    dateFormat: "dd/M/yy",
            //    changeMonth: true,
            //    changeYear: true,
            //    yearRange: "-60:+50"
            //});

            $('#btn-get-ledger-report').on('click', function () {
                var fromDate = $('#FromDate').val();
                var toDate = $('#ToDate').val();

                var errMsg = '';
                if (fromDate == '')
                    errMsg = "Select From Date";
                else if (toDate == '')
                    errMsg = "Select To Date";

                if (errMsg !== '') {
                    alert(errMsg);
                    return false;
                }
                showProgress();
            });
        });
    </script>
}