@using BusinessEntities;
@model IEnumerable<MemberLookupDto>
@using CoreComponents
@{
    ViewBag.Title = "MemberLookUp";
    Layout = "~/Views/Shared/_GroupLayout.cshtml";
}
@using (Html.BeginForm())
{
    var Result = TempData["Result"] as BusinessEntities.ResultDto;
    <div class="row">
        <div class="col-lg-12">
            <!-- Form Elements -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="header">Member Lookup</span>
                    @Html.ActionLink("Add New Member", "CreateMember", null, new { @class = "btn btn-default pull-right" })
                    @*<button class="btn btn-default pull-right" onclick="AddLoanPurpose();">Add New Loan Purpose</button>*@
                </div>
                @if (Result != null && Result.ObjectId > 0 && !string.IsNullOrEmpty(Result.Message))
                {
                    <div class="alert alert-success">
                        <strong>Success!</strong> @Result.Message
                    </div>
                }
                else if (Result != null && Result.ObjectId < 0 && !string.IsNullOrEmpty(Result.Message))
                {
                    <div class="alert alert-danger">
                        <strong>Error!</strong> @Result.Message
                    </div>
                }
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTablesMember">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Member Code</th>
                                    <th>Member Name</th>
                                    <th>Member Ref Code</th>
                                    <th>Group Name</th>
                                    @*<th>Spouse Name</th>*@
                                    <th>Gender</th>
                                    <th>DOB</th>
                                    <th>DOJ</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    bool isActive = item.StatusCode == Utilities.Constants.StatusCodes.Active;
                                    string inActiveTitle = isActive ? "In-Active" : "Active";
                                    string encryptmemberID = item.MemberID.EncryptString();
                                    string deleteTitle = "Delete";
                                    <tr class="gradeA odd">
                                        <td class="text-center">@(Model.ToList().IndexOf(item) + 1)</td>
                                        <td>@item.MemberCode</td>
                                        <td>@item.MemberName</td>
                                        <td>@item.MemberRefCode</td>
                                        <td>@item.GroupName</td>
                                        @*<td>@item.ParentGuardianName</td>*@
                                        <td>@(item.Gender == "M" ? "Male" : "Female")</td>
                                        <td>@(item.DOB == DateTime.MinValue ? string.Empty : item.DOB.ToDisplayDateFormat())</td>
                                        <td>@(item.DateOfAdmission == DateTime.MinValue ? string.Empty : item.DateOfAdmission.ToDisplayDateFormat())</td>
                                        <td class="text-center">
                                            <img src="~/@(isActive ? ("Content/images/Circle_Green.png") : "Content/images/Circle_Red.png")" title="@item.Status" />
                                        </td>
                                        <td class="text-center">
                                            <img src="~/Content/images/view-icon.png" style="cursor: pointer; width: 16px; height: 16px;" title="View" onclick="ViewMember('@encryptmemberID');" />
                                            <img src="~/Content/images/Edit.png" style="cursor: pointer; @(isActive ? string.Empty : "display:none;")" title="Edit" onclick="EditMember('@encryptmemberID');"/>
                                            <img style="cursor: pointer" onclick="ActiveInactiveMember('@encryptmemberID', '@item.StatusCode');" src="~/@(isActive ? "Content/images/Circle_Red.png" : "Content/images/Circle_Green.png")" title="@inActiveTitle" />
                                            <img style="cursor: pointer" onclick="DeleteMember('@encryptmemberID');" src="~/Content/images/delete_btn1.png" title="@deleteTitle" />

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>
}

<link href="~/Scripts/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/plugins/dataTables/dataTables.bootstrap.js"></script>
<script type="text/javascript">

    function ViewMember(id) {
        showProgress();
        window.location.href = '@Url.Content("ViewMember?id=")' + id
    }
    function EditMember(id) {
        showProgress();
        window.location.href = '@Url.Content("CreateMember?id=")' + id

    }

    function DeleteMember(encryptmemberID) {
        if (!confirm('If you continue this record will be deleted permanently \n Do you wish to continue?'))
            return false;
        showProgress();
        window.location.href = '@Url.Content("DeleteMember?Id=")' + encryptmemberID;
    }

    function ActiveInactiveMember(encryptmemberID, currentStatusCode) {
        if (!confirm(currentStatusCode == 'ACT' ? 'Do you wish to Inactive the selected record?' : 'Do you wish to active the selected record?'))
            return false;
        showProgress();
        window.location.href = '@Url.Content("ActiveInactiveMember?Id=")' + encryptmemberID;
    }

    function AddMember() {
        showProgress();
        window.location.href = '@Url.Content("CreateMember")';
    }

    $(document).ready(function () {
        menuLink = "menuOrganization";
        subMenuLink = "lnkSideMember";
        LoadMenu();
        $('#dataTablesMember').dataTable({
            "bSort": false
        });
    });
</script>
