@model IEnumerable<BusinessEntities.MemberLoanLedgerDto>
@using System.Data;
@{
    ViewBag.Title = "MemberLoanLedgerLookup";
    Layout = "~/Views/Shared/_GroupLayout.cshtml";
}
@using (Html.BeginForm())
{
   DataSet ds = ViewBag.MemberLoanLedgerdto;
    int Index = 0;
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="header">Organisation Address ( As per Master)</span>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <div style="text-align: center">
                    <h4>GENERAL LEDGER : From date to Query Date</h4>
                </div>
                <br />
                <br />
                <div class="form-group col-lg-3">
                </div>
                <div class="form-group col-lg-6">
                    <label>AH CODE : sal-001 &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;       ACCOUNT HEAD NAME : salaries</label>
                </div>

                <div class="form-group col-lg-3">
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTablesGeneralLedger">
                        <thead>
                            <tr>
                                <th class="text-center">S.No</th>
                                <th>OrganizationName</th>
                                <th>Member Name</th>
                                <th>Group Name</th>
                                <th>Disbursement Date</th>
                                <th>Loan Disbursed</th>
                                <th>EMI</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center">
                           @foreach (DataRow dr in ds.Tables[0].Rows)
                            {
                                Index++;
                                <tr class="gradeA odd">
                                    <td class="text-center">@Index</td>
                                    <td>@dr[0]</td>
                                    <td>@dr[2]</td>
                                    <td>@dr[4]</td>
                                    <td>@dr[9]</td>
                                    <td>@dr[10]</td>
                                    <td>@dr[11]</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <div class="panel-footer">
            <div class="form-group" style="margin-left: 16px;">
                <button type="button" id="btnSave" class="btn btn-outline btn-primary" onclick="GetPdf();">DownLoad Report</button>
                <button type="submit" id="btnExcel" class="btn btn-outline btn-primary">Export To Excel</button>
            </div>
        </div>
    </div>
}
<link href="~/Scripts/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/plugins/dataTables/dataTables.bootstrap.js"></script>
<script type="text/javascript">
    function GetPdf() {
        window.location.href = '@Url.Content("~/MemberLoanLedger/ExportsReports/")';

    }

    $(document).ready(function () {
        menuLink = "menuBooksandRecords";
        subMenuLink = "lnkSideGeneralLedger";
        LoadMenu();
        $('#dataTablesGeneralLedger').dataTable({
            "bSort": false
        });
    });
</script>
